<h1>Iniciar Sesion en <%= link_to 'DocTico', root_path %></h1>

    <%= form_for(:sesion, url: sesiones_path) do |f| %>

     <p>
       <%= f.label :email %>  <br>
       <%= f.text_field :email %>
     </p>

     <p>
       <%= f.label :password, "Contraseña" %>  <br>
       <%= f.password_field :password %>
     </p>

     <p>
       <%= f.submit "Iniciar Sesion"%>
     </p>

    <% end %>

    <p>Eres un nuevo usuario? <%= link_to "Crea tu propia cuenta en DocTico!", signup_path %></p>
