<%= link_to @current_user.nombre, usuario_path(current_user) %>

<h1>Editar mi Cuenta de <%= link_to 'DocTico', root_path %></h1>

<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "errore") %> por lo cual no se puede actualizar los datos la cuenta:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </p>

  <p>
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :password, "Contraseña" %><br>
    <%= f.password_field :password %>
  </p>

  <p>
    <%= f.label :password_confirmation, "Confirmar Contraseña" %><br>
    <%= f.password_field :password_confirmation %>
  </p>

  <p>
    <%= f.submit 'Actualizar mis Datos' %>
  </p>
 <% end %>