<h1>Listing usuarios</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @usuarios.each do |usuario| %>
      <tr>
        <td><%= usuario.nombre %></td>
        <td><%= usuario.email %></td>
        <td><%= link_to 'Show', usuario %></td>

        <% if !current_user.nil? %>

        <td>  <% if current_user.administrador? && !current_user?(usuario) %>
        | <%= link_to "delete", usuario, method: :delete,
                                  data: { confirm: "You sure?" } %>
        <% end %></td>

        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ir a mi perfil', usuario_path(current_user) %>