    <tr>
      <td><%= centro.nombre %></td>
      <td><%= centro.longitud %></td>
      <td><%= centro.latitud %></td>
      <td><%= centro.tipo %></td>
      <td><%= centro.horario %></td>
      <td><%= centro.descripcion %></td>

    <% if current_user == @usuario%>

      <td><%= link_to  edit_centro_path(centro) do %>
          <span class="glyphicon glyphicon-edit"></span>
      <% end %></td>

      <td><%= link_to centro_path(centro), :method => :delete, :confirm => "Esta seguro de eliminar??" do %>
        <span class="glyphicon glyphicon-trash"></span>
      <% end %> </td> 
    <% end %>
   </tr>