    <tr>
      <td><%= centro.nombre %></td>
      <td><%= centro.longitud %></td>
      <td><%= centro.latitud %></td>
      <td><%= centro.tipo %></td>
      <td><%= centro.horario %></td>
      <td><%= centro.descripcion %></td>

    <% if current_user == @usuario%>
      <td><%= link_to 'Mostar Perfil', centro_path(centro) %></td>
      <td><%= link_to 'Editar Informacion', edit_centro_path(centro) %></td>
      <td><%= link_to 'Eliminar', centro_path(centro),
                    method: :delete, data: { confirm: 'Esta seguro de eliminar?' } %></td>
    <% end %>

      </tr>
