<nav class="navbar navbar-default" role="navigation">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><%= link_to @current_user.nombre, usuario_path(current_user) %></li>
        </ul>

      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Cerrar Sesion", signout_path, method: "delete" %>  </li>
      </ul>
    </div>
</nav>




<div class="panel panel-success">

          <div class="panel-heading">
            <h3 class="panel-title">Lista de los Centros de Salud de <%= link_to 'DocTico', root_path %>: (<%= @centros.count %>)</h3>
          </div>
				
          <div class="panel-body">
				
            <div align="center" style="height: 495px; overflow: auto;">
					
              <table class="table table-striped">
                <tr>		
                  <th>Nombre</th>
                  <th>Longitud</th>
                  <th>Latitud</th>
                  <th>Tipo</th>
                  <th>Horario</th>
                  <th>Descripcion</th>
                </tr>

			         <%= render @centros %>

              </table>
            </div>
         </div>
</div>