<nav class="navbar navbar-default" role="navigation">

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
            <li><%= link_to @current_user.nombre, usuario_path(current_user) %></li>
        </ul>

      <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Cerrar Sesion", signout_path, method: "delete" %>  </li>
      </ul>
    </div>
</nav>




<h1>Nuevo Centro de Salud en <%= link_to 'DocTico', root_path %></h1>

<%= form_for :centros, url: centros_path do |f| %>
  
<% if @centro.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@centro.errors.count, "error") %> no se puede guardar:</h2>
    <ul>
    <% @centro.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </p>
 
  <p>
    <%= f.label :longitud %><br>
    <%= f.text_field :longitud %>
  </p>

  <p>
    <%= f.label :latitud %><br>
    <%= f.text_field :latitud %>
  </p>

  <p>
    <%= f.label :tipo_de_centro %><br>
    <%= f.text_field :tipo %>
  </p>

  <p>
    <%= f.label :horario %><br>
    <%= f.text_area :horario %>
  </p>

  <p>
    <%= f.label :descripcion %><br>
    <%= f.text_area :descripcion %>
  </p>
 
  <p>
    <%= f.submit "Crear nuevo Centro de Salud"%>
  </p>
<% end %>
